{
  "presets": ["env", "react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "app":"./app",
        "baseApp":"./frontend/baseApp/",
        "baseStyles": "./frontend/baseApp/styles",
        "baseRedux": "./frontend/baseApp/store",
        "features": "./frontend/features",
        "Feature":"./frontend/Feature/Feature.js",
        "featureLoader":"./frontend/Feature/featureProvider/featureLoader",
        "UILibrary": "./frontend/UILibrary/",
        "util": "./frontend/util/",
        "frontend": "./frontend/"
      }
    }]
  ]
}